.shoe1 {
    width: 1490px;
    height: 760px;
    
    bottom: 30px;
    
}
.shoe2 {
  
    width: 250px;
    height: auto;
    position:absolute;
    top:30%;
    left:27%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }